.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

ul.gnav {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
}


ul.gnav li {
    list-style: none;
}

ul.gnav li a{
    text-decoration: none;
    color: #000333;
}

.main_image img{
    width: 100%;
}

.section_inner {
    max-width: 720px;
    margin: 50px auto;
}

h2 {
    text-align: center;
    margin-bottom: 40px;
}

.section_inner p {
    line-height: 160%;
    text-align: justify;
}


.population_box{
    display: flex;
    background-color: #f4f8f9;
    justify-content: center;
    padding: 30px 0;
}

.population_box img{
    width: 50%;
}

.population_box p{
    width: 50%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: 50%;
    letter-spacing: 2px;
}

.population_box p span{
    display: block;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    line-height: 20px;
}


.section_inner_02 {
    max-width:  1200px;
    margin: auto;
}

.industries_box {
    display: flex;
    background-color: #f4f8f9;
    justify-content: center;
}

.industries_box img {
    width: 50%;
}

.industries_text{
    width: 50%;
    display: flex;
    align-items: center;
}

.industries_text p{
    line-height: 200%;
    text-align: justify;
    padding-left: 50px;
    padding-right: 30px;
}

.history_box{
    display: flex;
    background-color: #f4f8f9;
}

.history_box img{
    width: 50%;
}

.history_text{
    width: 50%;
    display: flex;
    align-items: center;
}

.history_text p{
    line-height: 200%;
    text-align: justify;
    padding-left: 30px;
    padding-right: 50px;
}

.footer_inner{
    background-color: steelblue;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}

.copyright {
    color: #fff;
    letter-spacing: 2px;
    font-size: 10px;
    margin-bottom: 0;
    
}



@media screen and (max-width: 896px) {
    .industries_box {
        align-items: flex-start;
    }
    .history_box{
        align-items: flex-start;
    }
}

@media screen and (max-width: 680px) {
    .header_inner {
        display: block;
        text-align: center;
    }
    ul.gnav {
        width: 100%;
        padding: 0;
    }

    .section_inner {
        width: 90%;
    }
    
    .population_box{
        display: block;
        text-align: center;
    }
    
    .population_box img{
        max-width: 90%;
    }
    
    .population_box p{
        width: 100%;
    }


    .section_inner_02{        
        text-align: -webkit-center;
    }
    .industries_box {
        display: block;
        max-width: 90%;
    }
    .industries_box img {
        width: 100%;
    }
    .industries_text{
        width: 100%;
    }
    .industries_text p{
        padding: 20px;
    }


    .history_box {
        flex-direction: column-reverse;
        width: 90%;
        
    }
    .history_box img {
        width: 100%;
    }
    .history_text{
        width: 100%;
    }
    .history_text p{
        padding: 20px;
    }
}

.animation {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    transform: translateY(50px);
}
.active{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

